<?xml version="1.0"?>
<launch>
  <arg name="launch_control_trajectory_all" default="false"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find main)/worlds/scene-basketball.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <include file="$(find pepper_description)/launch/pepper_publisher.launch" />  
  <include file="$(find pepper_control)/launch/pepper_control_position.launch"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
    args="-param robot_description -reference_frame ground_plane -urdf -x -2 -y -0.5 -z 0.8 -R 0 -P 0 -Y 0.5 -model pepper --verbose" />

</launch>
